body {
    background-color:
    black;font-family:arial;color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 500px; */
}

h1{
    color:grey;font-family:verdana;
    text-align: center;
}
.maindiv{
    background-color: white;
    color: black;
    padding: 20px;

    width: 500px;
    margin-top: 150px;
  
    border-radius: 25px;
    line-height: 2;
    
}
#principal{
    margin-left: 40px;
}
#rate{
    margin-left: 68px;
    margin-top: 10px;
}
#years{
    margin-left: 8px;
    margin-top: 10px;
}
label{
    margin-left: 60px;
}
button{
    margin-left: 160px;
    margin-top: 20px;
}
footer{
    text-align: center;
}